@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@500&family=Press+Start+2P&display=swap');



body{
    background-color: orange;
    display:flex;
    justify-content: center;
    font-family: 'Orbitron', sans-serif;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1{
    font-size:50px;
}

footer{
    margin-top:100px;
    text-align: center;
    margin-bottom: 10px;
    font-size:18px
}

.container{
    height:550px;
    width:400px;
    border:1px solid black;
    border-radius:15px;
    background-color: navy;
    display:flex;
    flex-direction: column;
    align-items:center;
}

.screen {
    width:350px;
    height:100px;
    border:1px solid black;
    margin:25px;
    border-radius:10px;
    background-color:antiquewhite;
}

.calculation, .result{
    height:50%;
    border-radius:10px;
    display:flex;
    justify-content: flex-end;
    align-items: center;
    font-size:24px;
    padding-right:10px;
    overflow:auto;

}

.reset{
    width:350px;
    height:50px;
    display:grid;
    grid-template-columns: repeat(2, 1fr);
    gap:10px;
}

.allClear, .clear{
    border:1px solid black;
    border-radius:5px;
    background-color: red;
    display:flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    color:white;
}


.allClear:active, .clear:active{
    background-color: maroon;
}



.buttons{
    height:300px;
    width:350px;
    
    margin:25px;
    border-radius: 10px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap:10px;
}

.keys, .execute, .equals, .decimal {
    border: 1px solid black;
    display:flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    font-size:30px;
    background-color: whitesmoke;
}
.keys:hover, .execute:hover, .equals:hover,.decimal:hover {
    background-color: lightgray;
}

.keys:active, .execute:active, .equals:active,.decimal:active {
    background-color: darkgray;